@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Press+Start+2P&display=swap');

$scanlines: repeating-linear-gradient(
                0deg,
                rgba(black, 0.2),
                rgba(black, 0.2) 1px,
                transparent 1px,
                transparent 2px
);
html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Press Start 2P', Arial, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #03081a;
  position: relative;
  width: 100%;
  height: 100%;

  &.mode2 {
    #credits {
      perspective: 200px;
      perspective-origin: bottom;
    }
  }

  &.scanlines {
    #container {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: $scanlines
      }

      #ui {
        //filter: blur(0.03em);
        text-shadow: 0 0 0.4em rgba(255, 255, 255, 0.7);
      }

      #title {
        filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.26)) blur(1px);
      }
    }

    #intro, #play-again {
      filter: blur(0.8px);
    }
  }

  #container {
    width: 100%;
    height: 100%;
  }

  button {
    font: inherit;
    background: transparent;
    color: #0f0;
    border: 2px solid #0f0;
    padding: 10px 10px 8px;
    position: relative;
    font-size: 1.2em;
  }

  #loading {
    display: none;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 46%;
    font-size: 1.7vh;
    line-height: 1.5;
    width: 300px;
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: anywhere;
    left: 50%;
    transform: translateX(-50%);
    //@media(min-width: 1350px) {
    //  font-size: 22px;
    //}

    &.active {
      display: block
    }
  }

  #intro {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 46%;
    font-size: 1.7vh;
    //@media(min-width: 1350px) {
    //  font-size: 22px;
    //}

    line-height: 1.5;
    display: none;

    &.active {
      display: block;
    }

    button {
      margin-top: 1.5em;
    }

    select {
      font: inherit;
      background: transparent;
      color: #99f;
      border: none;
      border-bottom: 2px solid #99f;
      padding: 5px 0;
      position: relative;

      option {
        background: #000;
        color: #fff;
        position: relative;
      }
    }
  }

  #panel-play-again {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 15vh);
    text-align: center;

    &.active {
      display: block;
    }
  }
}

canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#ui {
  display: none;

  &.active {
    display: block;
  }

  font-size: 1.7vh;
  //@media(min-width: 1350px) {
  //  font-size: 22px;
  //}
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;

  #game-ui {
    display: none;

    &.active {
      display: block;
    }
  }

  #panel-score {
    position: absolute;
    top: 20px;
    left: calc(50% - 450px);
    transform: translate(-50%);
  }

  #panel-level {
    position: absolute;
    top: 20px;
    left: calc(50% - 150px);
    transform: translate(-50%);
  }

  #panel-lives {
    position: absolute;
    top: 20px;
    right: calc(50% - 150px);
    transform: translate(50%);
  }

  #panel-highscore {
    position: absolute;
    top: 20px;
    right: calc(50% - 450px);
    transform: translate(50%);
  }

  #panel-game-over {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
    font-size: 6.5em;
    transition: none;
    text-align: center;

    &.active {
      transform: translate(-50%, -50%) scale(1);
      opacity: 9;
      transition: all ease 2s;
    }
  }

  #panel-new-highscore {
    display: none;
    position: absolute;
    color: #ffff00;
    left: 50%;
    top: 35%;
    text-align: center;
    transform: translate(-50%, -50%);

    &.active {
      display: block;
    }

    .value {
      color: #f00;
      padding-top: 1em;
    }
  }

  #panel-game-hints {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 80%;
    width: 600px;
    line-height: 1.5;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #fa3;
    font-size: 0.666em;

    .lg {
      font-size: 2.1em;
      color: #ff0;
      vertical-align: middle;
    }
    .value {
      font-size: 1.5em;
      color: #fff;
      margin: 1em 0;
    }

    &.active {
      display: block;
    }
  }

  $shadowColor: #000;

  #title-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.7vh;
    //@media(min-width: 1350px) {
    //  font-size: 24px;
    //}
    display: none;
    line-height: 1.6;

    &.active {
      display: block;
    }

    #portrait-warning {
      color: #f00;
      padding-top: 1em;
      display: none;
      font-size: 0.75em;
      @media all and (orientation: portrait) {
        display: block;
      }
    }

    #title {
      position: absolute;
      top: 30%;
      width: 100%;
      text-align: center;
      font-size: 6vh;
      //@media(min-width: 1350px) {
      //  font-size: 75px;
      //}
      color: #ff0;
      line-height: 1.05;
      text-shadow: 0 0.05em $shadowColor, 0 -0.05em $shadowColor, 0.05em 0 $shadowColor, -0.05em 0 $shadowColor,
      0.05em 0.05em $shadowColor, 0.05em -0.05em $shadowColor, 0.05em -0.05em $shadowColor, -0.05em -0.05em $shadowColor;
      perspective: 3em;
      perspective-origin: top;

      .layer {
        position: absolute;
        width: 100%;
        left: 0;
        transform-origin: bottom;
      }

      .layer3 {
        transform: rotateX(-17deg) scaleY(2);
      }

      .layer2 {
        $shadowcolor-l1: #c00;
        color: $shadowcolor-l1;
        text-shadow: 0 0.02em $shadowcolor-l1, 0 -0.02em $shadowcolor-l1, 0.02em 0 $shadowcolor-l1, -0.02em 0 $shadowcolor-l1,
        0.02em 0.02em $shadowcolor-l1, 0.02em -0.02em $shadowcolor-l1, 0.02em -0.02em $shadowcolor-l1, -0.02em -0.02em $shadowcolor-l1;
        transform: rotateX(-17deg) scaleY(2) translateZ(-0.1em) translateY(-0.12em);
      }

      .layer1 {
        $shadowcolor-l2: #000;
        color: $shadowcolor-l2;
        text-shadow: 0 0.05em $shadowcolor-l2, 0 -0.05em $shadowcolor-l2, 0.05em 0 $shadowcolor-l2, -0.05em 0 $shadowcolor-l2,
        0.05em 0.05em $shadowcolor-l2, 0.05em -0.05em $shadowcolor-l2, 0.05em -0.05em $shadowcolor-l2, -0.05em -0.05em $shadowcolor-l2;
        transform: rotateX(-17deg) scaleY(2) translateZ(-0.2em) translateY(-0.2em);
      }
    }

    #credits {
      font-size: 0.9em;
      position: absolute;
      bottom: 20px;
      padding: 0 2em;
      width: 100%;
      box-sizing: border-box;

      & > div {
        transform: rotateX(20deg);
      }
    }
  }
}

.small {
  font-size: 0.75em;
}
